.error-text {
  background-color: rgb(250, 201, 222);
  display: block;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}

.headshot-preview {
  max-width: 400px;
  max-height: 400px;
}

#headshot-upload {
  display: block;
}
