:root {
  --group-info-color: rgb(124, 1, 68);
  --group-info-darker-color: rgba(73, 1, 41, 0.8);
  --group-info-lighter-color: rgba(206, 6, 116, 0.8);
  --grapefruit-yellow: rgb(252, 171, 83);
  --group-info-disabled-color: rgba(124, 1, 68, 0.5);
}

html,
body,
#root {
  height: 100%;
}
